@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    font-family: 'Montserrat',sans-serif;
}
html{
    scroll-behavior: smooth;
}
.navbar-collapse{
    flex-grow: 0 !important;
}
.btn-primary{
    border: none !important;
    background-color: #1abc9c !important;
}
.text-primary{
    color: #1abc9c !important;
}
.bg-white{
    background-color: white;
}
.bg-secondary{
    background-color: rgb(44, 62, 80)!important;
}
.text-secondary{
    color: rgb(44, 62, 80) !important;
}
.navbar a{
    font-weight: 700;
}
.navbar-collapse a:hover{
    color: #1abc9c !important;
}
.bg-primary{
    background-color: #1abc9c !important;
}
.py-6{
    padding: 96px 0;
}
header img{
    width: 255px;
    height: 255px;
    border-radius: 50%;
}
header h1{
    font-size: 4rem;
    line-height: 3.5rem;
    font-weight: 700;
}
.divider-line{
    width: 112px;
    height: 4px;
}
#portfolio h2,#about h2,#contact h2{
    font-size: 3rem;
    line-height: 2.5rem;
    font-weight: 700;
}
.portfolio-item{
    max-width: 25rem;
    height: 290px;
    position: relative;
    border-radius: 8px;
}
.portfolio-item img{
    height: 100%;
    border-radius: 8px;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background-color: #1abc9cd8;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 70px;
    opacity: 0;
    transition: .5s;
}
.portfolio-item:hover .overlay{
    opacity: 1;
}
.lead{
    font-size: 1.15rem;
    font-weight: 500;
}
.btn-xl{
    padding: 1rem 1.75rem;
    font-size: 1.25rem;
}
.form-floating .form-control{
    font-size: 1.5rem;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-radius: 0;
    border-width: 1px;
    outline: none;
    box-shadow: none;
}
.form-floating .form-control:focus{
    border-color: #1abc9c;
}
.form-floating>.form-control:not(:placeholder-shown)~label{
    font-size: 24px;
    color: #6c757d !important;
    padding: 0 !important;
    font-weight: 500;
    opacity: 1 !important;
    transform: scale(1) translateY(0rem) translateX(0rem) !important;
}
.form-floating>.form-control:focus~label{
    opacity: 0.65;
    transform: scale(0.65) translateY(-0.5rem) translateX(0rem) !important;
}
.form-floating>.form-control:not(:placeholder-shown)~label::after{
    height: 0 !important;
    inset: 0 !important;
}
.form-floating>.form-control-plaintext:focus, .form-floating>.form-control-plaintext:not(:placeholder-shown), .form-floating>.form-control:focus, .form-floating>.form-control:not(:placeholder-shown) {
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
}
.form-floating .form-control {
    font-size: 1.5rem;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-radius: 0;
    border-width: 1px;
    outline: none;
    box-shadow: none;
}
.form-floating>.form-control{
    padding: 1rem 0 !important;
}
footer h4{
    font-weight: 700;
    font-size: 24px;
}
.btn-social{
    border-radius: 100%;
    display: inline-flex;
    width: 3.25rem;
    height: 3.25rem;
    font-size: 1.25rem;
    justify-content: center;
    align-items: center;
}
.footer{
    background-color: #1a252f;
}
@media(max-width:1200px){
    .portfolio-item{
        height: 215px;
    }
}
@media(max-width:992px){
    header h1{
        font-size: 44px;
    }
}
@media(max-width:768px){
    .portfolio-item{
        height: 290px;
    }
}